<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Easy access to global news </title>     <!--Default title-->
        {% endif %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>

            <!-- Business section  -->
            <h3> Business News </h3>
             <ul>
                {% for onebusiness in business %}
                    <li>{{ onebusinss.name}}</li>
                {% endfor %}
            </ul>
    </body>
</html>